html {
  font-family: arial, san-serif;
}

#contactCard {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#profile {
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
  width: 27%;
  padding: 2%;
  float: left;
  margin-right: 3em;
  background-color: #e5dfdf;
  box-shadow: 10px 10px 5px #888888;
}

#profile img#me {
  width: 100%;
}

#profile img.logo {
  width: 15%;
  margin-top: 5%;
}

#contactCard .textBlock {
  width: 100%;
  padding-top: 5%;
  font-size: 140%;
}

#nav {
  height: 10%;
  background-color: #ccf;
  border-top: 2px solid #009;
}

#nav li {
  display: inline;
  padding: 0em 1.5em;
}

#nav li:first-child {
  margin-left: 30%;
}

#nav a {
  color: #009;
  text-decoration: none;
  font-weight: bold;
  font-size: 200%;
}

#nav a:hover {
  color: #fff;
  background-color: #009;
  padding: 1em;
  margin: -1em
}

h1 {
  font-size: 3em;
}

.blue {
  color: #009;
}

#footer {
  height: 10%;
  background-color: #ccf;
  margin-top: 10%;
  padding: 1%;
  text-align: center;
}



