html {
  font-family: arial, san-serif;
  max-width: 1440px;
  margin: 0px auto;
}

#contactCard {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
}

#nav {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 4px solid #009;
  border-bottom: 2px solid #009;
}

#nav ul {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 30%;
}

#nav li {
  display: inline;
  padding: 0em 1.5em;
}

#nav a {
  color: #009;
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
}

#nav a:hover {
  color: #009;
  background-color: #eef;
  padding: 0.26em;
  margin: -0.26em;
}

.right_block, .left_block {
  font-size: 150%;
}

.right_block {
  padding-top: 1%;
  margin-left: 35%;
}

.left_block {
  width: 27%;
  margin: 1%;
  float: left;
}

#profile_pic_container {
  margin-top: 1em;
  padding-right: 3%;
  /*border-right: 3px solid #009;*/
}

#profile_pic img#me {
  width: 100%;
  box-shadow: 10px 10px 5px #888888;
}

#profile_pic_container .logo_container {
  margin: 5% 0%;
}

#profile_pic_container img.logo {
  display: inline;
  width: 15%;
  margin: 4%;
  margin-top: 4.5%; /* stops slight vertical movement on hover in Chrome */
}

#profile_pic_container img.logo:hover {
  width: 20%;
  margin: 1.5%;
}

#text_desc {
  padding: 0.5% 2% 0.5% 0.5%;
  margin: 1% 1% 2% 1%;
  border-right: 3px solid #009;
  /*box-shadow: 10px 10px 5px #888888;*/
  }

h1 {
  font-size: 3em;
}

.blue {
  color: #009;
}

h5.tags, h3.post_title {
  display: inline;
}

#footer {
  font-size: 0.8em;
  height: 2em;
  padding: 1em;
  border-top: 2px solid #009;
  /*margin-top: 4.5em;*/
  text-align: center;
  clear: both;
}



